
html, body
{
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: relative;
    overflow: hidden;
}
.loader{
    position: absolute;
    z-index: 1400;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #afb4b6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader>span{
    position: absolute;
    top: 55%;
}

.card-left {
    font-size:1em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 10vw;
    min-height: 5vh;
    max-width: 50vw;
    max-height: 30vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    float: left;
    background: white;
    top: 1vh;
    left: 1vh;
    position: absolute;
    text-align: center;
    font-weight: 600;
    padding: 1em;
}
@media (max-width:540px){
    .card-left {
        min-width: 30vw;
    }
}

.card-left:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-right{
    float: right;
    position: absolute;
    bottom: 10vh;
    right: 1vh;
}
