<html>

<head>
	<title></title>
	<meta name="viewport" content="width=device-width, user-scalable=yes, minimum-scale=1.0, maximum-scale=4.0">
	<meta charset="UTF-8">

	<link rel="stylesheet" href="/public/css/styles.css" />
	<link rel="stylesheet" href="/scripts/bootstrap/dist/css/bootstrap.css" />
</head>

<body>
	<div class="loader">
		<div class="spinner-border" role="status">
		</div>
		<span >Cargando...</span>
	</div>
	<div class="card">

		<div class="container-text" id="floor-text">
			Te amo mi vida
		</div>
	</div>


	<script src="public/lib/jquery-3.3.1.slim.min.js"></script>
	<script src="/scripts/three/build/three.js"></script>
	<script src="public/lib/ar.js"></script>

	<script src="public/dist/bundle.js"></script>

</body>

</html>